
{% if paginator.total_pages > 1 %}
<div class="pagination">
  <a href="{{ '/' | relative_url }}">&laquo; First </a>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&lsaquo; Prev</a>
  {% else %}
    <span>&lsaquo; Prev</span>
  {% endif %}
  
  {% assign start_i = paginator.page | minus: 2 %}
  {% assign end_i = paginator.page | plus: 2 %}
  {% assign start = start_i | at_least: 1 %}
  {% assign end = end_i | at_most: paginator.total_pages %}
  {% for page in (start..end) %}
		{% if page == paginator.page %}
		  <font size="+1.5"><b>{{ page }}</b></font>
		{% elsif page == 1 %}
		  <a href="{{ '/' | relative_url }}">{{ page }}</a>
		{% else %}
		  <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
		{% endif %}
  {% endfor %}
	  
  {% if paginator.next_page %}
		<a href="{{ paginator.next_page_path | relative_url }}">Next &rsaquo;</a>
  {% else %}
		<span>Next &rsaquo;</span>
  {% endif %}
  
  <a href="{{ site.paginate_path | relative_url | replace: ':num', paginator.total_pages }}"> Last &raquo;</a>
</div>
{% endif %}